nav{
    background-color: rgba(145, 0, 248, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}