nav{
    background-color: rgba(145, 0, 248, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover{
    color: yellow;
}
nav button{
    background-color: white;
    color: rgba(145, 0, 248, 1);
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    cursor: pointer;
}
nav button:hover{
    background: var(--Linear, linear-gradient(47.64deg, rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgba(247, 233, 63, 1)));
    color: white;
}
/* header{
    background-color: rgba(240, 240, 240, 1);
    padding: 32px 200px 32px 200px;
    text-align: center;
} */
header h1{
    font-size: 48px;
    margin: 0;
    color: white;
}
.wave{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}